*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    border: none;
    outline: none;
}
body{
    width: 100vw;
    height: 100vh;
    background: #f24438;
    display: grid;
    place-items: center;
    font-family:cursive;
    line-height: 1.5;

    button{
        padding: 1rem 3rem;
        font-size: 1rem;
        font-family: cursive;
        transition: all 300ms ease;
        &:hover{
            opacity: .9;
            cursor: pointer;
        }
    } 

    .modal{
        width: 100%;
        height: 100%;
        position: fixed;
        place-items: center;
        background: rgba(0,0,0,0.4);
        display: none;
        animation: openSubCard 1s forwards;

        .card{
            background: white;
            width: 50rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 2rem;
            position: relative;
            max-width: 1rem 0;
            .fa-times{
                position: absolute;
                top: 2rem;
                right: 2rem;
                cursor: pointer;
            }
            .brand{
                width: 30rem;
                img{
                    display: block;
                    width: 100%;
                }
                @media screen and(max-width:600px) {
                    width: 7rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            .info{
                h2{
                    margin-bottom: 2rem;
                    @media screen and(max-width:600px) {
                        margin-bottom: 1rem;
                    }
                }
                form{
                    margin-top: 2rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    input[type="email"]{
                       background: #eee;
                       width: 100%;
                       padding: 1rem; 

                       @media screen and (max-width:600px) {
                        &::placeholder{
                            text-align: center;
                        }
                       }
                    }
                    input[type="submit"]{
                       background: #f24438;
                       color: #eee;
                       padding:0 1.6rem; 

                       @media screen and (max-width:600px) {
                         width: 100%;
                         padding: 1rem;
                         cursor: pointer;
                         margin-top: 0.6rem;
                       }
                    }
                    @media screen and (max-width:600px){
                        display: block;
                        margin-top: 1rem;
                    }

                }
            }
            @media screen and (max-width:600px) {
                flex-direction: column;
                width: 80vh;
                text-align: center;
            }
        }
        /*Opninng the subscription card animation*/
        @keyframes openSubCard {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }

    } 
}